<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <style>
            html, body { margin: 0; padding: 0; }
            .page{ width:1000px; margin-left:auto; margin-right:auto; }
        </style>
        <script src="js/jquery-1.8.3.js"></script>
        <%-scripts%>
        <%-stylesheets%>
        <%-blocks.script %>
    </head>
    <body>
        <div>
            <header>
                <%-partial('../headers/header')%>
                <%-partial('../navigation/navigation')%>
            </header>
            <section>
                <div class='page'>
                    <%-body -%>
                </div>
            </section>
            <footer>
                <%-partial('../footers/footer')%>
            </footer>
        </div>
    </body>
</html>